[[org.clojure/clojure       "1.7.0"         :scope "provided"]
 [org.clojure/clojurescript "1.7.228"       :scope "provided"]
 [adzerk/boot-cljs          "2.0.0"         :scope "test"]
 [adzerk/env                "0.4.0"]
 [bidi                      "2.1.1"]
 [cljsjs/simplemde          "1.11.2-0"]
 [cljsjs/skel               "3.0.1-0"]
 [degree9/boot-semver       "1.6.0"         :scope "test"]
 [degree9/boot-semgit       "1.2.0"         :scope "test"]
 [degree9/firebase-cljs     "1.3.0"         :scope "provided"]
 [funcool/cuerdas           "2.0.3"]
 [hoplon/hoplon             "7.0.2"         :scope "provided"]
 [prismatic/schema          "1.1.6"]
 [tolitius/boot-check       "0.1.4"         :scope "test"]]
